.DS_Store
*.lock
*.py
*.pyc
*.ser
/*.sql
server.pid
nbproject/
logs/
tmp/
test-result/
db/
/precompiled/
*.iml
*.ipr
*.iws
*.ids
modules/
lib/
*.log
*.txt
/.settings/
/eclipse/.settings/
tags
build/
.idea/
target/
